@model LoginViewModel

@{ 

}

<h2 class="header">Login</h2>

<form class="login-form" asp-controller="Auth" asp-action="Login" method="post">

    <div>
        <label>Username</label>
        <input asp-for="UserName" required id="username" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" required id="password"/>
    </div>
    <input type="submit" value="Sign in" id="submit" onclick="validate()"/>
</form>